<p>Welcome <%= @user.username %><p>


<div class="user-zones">
  <div class="user-zone zone-4">
    zone 4
    <span class="zone"><%= @user.hr_zone4_bpm_min %></span> -
    <span class="zone"><%= @user.hr_zone4_bpm_max %></span>
  </div>
  <div class="user-zone zone-3">
    zone 3
    <span class="zone"><%= @user.hr_zone3_bpm_min %></span> -
    <span class="zone"><%= @user.hr_zone3_bpm_max %></span>
  </div>
  <div class="user-zone zone-2">
    zone 2
    <span class="zone"><%= @user.hr_zone2_bpm_min %></span> -
    <span class="zone"><%= @user.hr_zone2_bpm_max %></span>
  </div>
  <div class="user-zone zone-1">
    zone 1
    <span class="zone"><%= @user.hr_zone1_bpm_min %></span> -
    <span class="zone"><%= @user.hr_zone1_bpm_max %></span>
  </div>
  <div class="user-zone under-zone">
    Under zone
    <span class="zone"><%= @user.hr_zone1_bpm_min - 66 %></span> -
    <span class="zone"><%= @user.hr_zone1_bpm_max - 15 %></span>
  </div>
</div>



<div class="row">
  <% @user.hrm_sessions.each do |hrm_session| %>
    <div class="col-md-3">
      <%= HHMMSS(hrm_session.duration) %>
      <%= react_component('HrmSessionButton',
                           session_id: hrm_session.id,
                           session_duration: HHMMSS(hrm_session.duration)) %>
    </div>
  <% end %>
</div>

<% react_component('HrZoneChart',
                       zone_one_min: @user.hr_zone1_bpm_min,
                       zone_one_max: @user.hr_zone1_bpm_max,
                       zone_two_min: @user.hr_zone2_bpm_min,
                       zone_two_max: @user.hr_zone2_bpm_max,
                       zone_three_min: @user.hr_zone3_bpm_min,
                       zone_three_max: @user.hr_zone3_bpm_max,
                       zone_four_min: @user.hr_zone4_bpm_min,
                       zone_four_max: @user.hr_zone4_bpm_max) %>


